.Board {
  &KanbanPage {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &Steps {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: var(--xl);
    padding: var(--lg) var(--xl) var(--xl);
  }
  &TaskCardsBox {
    display: flex;
    flex-direction: column;
    margin-top: var(--sm);
    gap: var(--lg);
  }
}

.TestCard {
  width: 100%;
  height: 90px;
  background-color: var(--c-dark-grey);
  border-radius: 18px;
}
