.Board {
  &KanbanPage {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &Steps {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: var(--xl);
    padding: var(--lg) var(--xl) var(--xl);

    &Reorder {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--md);
    }
  }
  &TaskCardsBox {
    display: flex;
    flex-direction: column;
    margin-top: var(--sm);
    gap: var(--lg);
  }
}
