.TaskCardMetaInfo {
  position: absolute;
  top: -12px;
  left: -6px;
  display: flex;
  align-items: center;
  gap: var(--sm);

  &Item {
    padding: 2px;
    border-radius: 999px;
    color: var(--c-medium-grey);
  }
}

.Reviewer {
  display: flex;
  align-items: center;
  padding: 2px var(--md);
  font-size: 12px;
  font-weight: 500;
  svg {
    margin-left: var(--sm);
    width: 16px;
  }
}