.LoginPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--lg);
}

.SubmitButton {
    scale: 1;
    transition: var(--tr-sm);
    &.IsHidden {
        scale: 0
    }

    &Box {
        display: flex;
        justify-content: flex-end;
    }
}