@use "app/theme/variables" as v;

.Page {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  &Padding {
    width: 100%;
    height: 100%;
    padding: 0 v.$md;
  }
  &Inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}