@use 'app/theme/variables' as v;

.StepColumn {
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: v.$c-grey;
	height: calc(100vh - 62px);
	width: 6vw;
	transition: v.$tr-md;
	gap: v.$lg;

	opacity: 0;
	transform: translateX(-100px);

	&.Shown {
		opacity: 1;
		transform: translateX(0);
	}

	&.Transition {
		transition: v.$tr-lg;
		@for $i from 2 through 4 {
			&:nth-child(#{$i}) {
				transition-delay: #{$i * 75}ms;
			}
		}
	}

	&.Open {
		flex:1;
		padding: v.$lg;
	}
}
