@use '../../../../shared/theme/variables' as v;

.CategorySelect {
  width: 100%;
  min-width: 150px;

  &Item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Color {
      height: 14px;
      aspect-ratio: 1;
      border-radius: 100%;
    }
  }
}
