/*VIEWPORT*/
$v-max: 2000px;
$v-small-screen: 1000px;
$v-min: 320px;

/*OFFSETS*/
$base: 4px;

$xs: $base;
$sm: calc($base * 2);
$md: calc($base * 3);
$lg: calc($base * 6);
$xl: calc($base * 8);

/*COLORS*/
$c-primary: rgb(39, 158, 249);
$c-secondary: rgb(97, 236, 159);
$c-primary-accent: rgb(176, 218, 255);
$c-secondary-accent: rgb(138, 250, 184);
$c-grey: rgb(240, 245, 255);
$c-dark-grey: rgb(85, 105, 122);
$c-white: rgb(255, 255, 255);
$c-black: rgb(33, 33, 33);
$c-tr: rgba(0, 0, 0, 0);
$c-tr-white: rgba(255, 255, 255, .3);
$c-tr-black: rgba(0, 0, 0, .3);

/*BOX-SHADOWS*/
$bs-none: 0 0 2px 0 rgba(9, 30, 66, 0), 0 0 4px 0 rgba(9, 30, 66, 0);
$bs-z1: 0 0 2px 0 rgba(9, 30, 66, 0.12), 0 0 4px 0 rgba(9, 30, 66, 0.16);
$bs-z2: 0 4px 8px 0 rgba(9, 30, 66, 0.16), 0 0 4px 0 rgba(9, 30, 66, 0.2);
$bs-z3: 0 8px 12px 0 rgba(9, 30, 66, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.2);
$bs-z4: 0 16px 24px 0 rgba(9, 30, 66, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.16);
$bs-z5: 0 24px 40px 0 rgba(9, 30, 66, 0.12),
0 4px 16px 0 rgba(9, 30, 66, 0.2);
$bs-z6: 0 40px 80px 0 rgba(9, 30, 66, 0.2), 0 4px 20px 0 rgba(9, 30, 66, 0.2);

/*TRANSITIONS*/
$tr-sm: 300ms;
$tr-md: 500ms;
$tr-lg: 800ms;