@use '../../../shared/theme/variables' as v;
@use '../../../shared/theme/global' as g;

.Header {
	z-index: 2;
	width: 100%;
	padding: v.$sm;
	display: flex;
	align-items: center;

	transition: v.$tr-lg;
	box-shadow: v.$bs-none;
	transform: translateY(-20px);
	opacity: 0;

	&.Shown {
		box-shadow: v.$bs-z1;
		transform: translateY(0px);
		opacity: 1;
	}

	&Item {
		flex: 1;
		display: flex;
		justify-content: center;
		gap: v.$lg;
		padding: 0 v.$md;
		@include g.small-screen {
			&:nth-child(odd) {
				display: none;
			}
		}
	}

	:global {
		input {
			width: 180px;
		}
	}
}
